@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
  .absolute-background{
    position: absolute;
    top: 1240px;
    z-index: -1;
    width: 100%;
  }

  .absolute-background div{
    background: url('/illustrations/geo-bg.png') top left no-repeat;
    height: 732px;
    width: 1320px;
    margin: 0 auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo-inverted {
  filter: brightness(0) invert(0.7);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

main {
  min-height: 65vh;
}

.svg-container {
  width: 100%;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: absolute;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.contentSlidingDiagonalsBg {
  box-sizing: border-box;
  text-align: center;
}

@keyframes slide{
  0%{
    transform: translateX(-25%);
  }
  100%{
    transform:translateX(25%);
  }
}